@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=SUSE:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=SUSE:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&family=Irish+Grover&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kavivanar&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-cover bg-center;
    background-image: url('/src/assets/backgorundImg.png');
    backdrop-filter: blur(2px);
  }
  
  /* Add this to your global CSS file */
.scroll-container {
  overflow-x: auto;  /* Allow horizontal scrolling */
  overflow-y: hidden; /* Hide vertical scrollbar */
  scrollbar-width: none; /* For Firefox */
}

.scroll-container::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.tooltip {
  color: #fff;
  font-size: 18px;
  max-width: 28ch;
  text-align: center;
  padding: 1em;
  position: relative;
  background-color: #CC333F; /* Tooltip background color */
}

/* Creating the triangle at the bottom */
.tooltip::after {
  content: "";
  position: absolute;
  bottom: -11em; /* Adjust position as needed */
  left: 91%;
  transform: translateX(-50%);
  border-width: 1em;
  border-style: solid;
  border-color: #CC333F transparent transparent transparent; /* Match tooltip bg color */
  width: 20px;
  height: 200px;
}
